body{
    background: linear-gradient(to bottom, white, rgb(10, 172, 226));
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1{
    font-family: cursive;
    font-size: 70px;
    text-decoration: underline;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(192, 50%, 42%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 40px;
    text-align: left;
    border: none;
    background-color: hsl(187, 57%, 51%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
} 

.op-button{
    background-color: hsl(180, 59%, 43%);
}

.op-button:hover{
    background-color: hsl(162, 68%, 46%)
}

.op-button:hover{
    background-color: hsl(162, 64%, 48%)
}